@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: League Spartan;
}

.wrapper {
  max-width: 1920px;
  margin: 0px auto;
}

.container__mor705 {
  width: 1920px;
  height: 3629px;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #F8F8F8;
}

.header__title {
  padding: 104px 53px 168px 133px;
}

.header__column {
  font-weight: 300;
}

.header__column-a {
  font-size: 24px;
  color: #161515;
}

.header__column-b {
  font-size: 250px;
  line-height: 230px;
  color: #272727;
  padding: 53px 0px 43px 0px;
}

.header__column-c {
  font-size: 32px;
  line-height: 50px;
  color: #161515;
}

.header__buy {
  display: flex;
  padding-top: 61px;
}
.header__buy a {
  background-color: #161515;
  width: 278px;
  height: 82px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 82px;
  font-size: 32px;
}
.header__buy p {
  background-color: #fff;
  width: 143px;
  height: 82px;
  color: #000;
  font-weight: 300;
  text-align: center;
  line-height: 82px;
  font-size: 32px;
}

.header__img {
  padding-bottom: 176px;
  padding-right: 240px;
  padding-top: 4px;
}
.header__img img {
  width: 408px;
  height: 720px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__popular {
  text-align: center;
}

.content__popular-a {
  font-size: 24px;
  line-height: 186%;
  padding-top: 43px;
}

.content__popular-b {
  font-weight: 400;
  font-size: 72px;
  line-height: 112.5%;
  padding-bottom: 84px;
}

.content__img {
  background-color: #F8F8F8;
  width: 417px;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentic__text {
  text-align: center;
}

.contentic__text-a {
  font-size: 32px;
  padding-top: 67px;
  font-weight: 400;
}

.contentic__text-b {
  font-size: 32px;
  line-height: 155%;
  font-weight: 300;
  padding: 17px 455px 0px 454px;
  padding-bottom: 85px;
}

.content__image {
  background-color: #F8F8F8;
  width: 496px;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__text {
  text-align: center;
}

.product__text-a {
  font-size: 32px;
  line-height: 60px;
  text-transform: capitalize;
  padding-top: -26px;
}

.product__text-b {
  font-size: 24px;
  line-height: 155%;
  font-weight: 300;
  padding: 49px 461px 0px 461px;
  padding-bottom: 85px;
}

.product__poloska {
  padding: 9px 0px 0px 0px;
}
.product__poloska hr {
  border: 1px solid #707070;
  width: 178.03px;
}